.App {
  text-align: center;
}

.main-results {
  padding: 80px 10px 20px;
}
.color {
  color: #0f8263;
}
.grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #137fa0;

}
.grid li {
  padding: 10px 15px;
  text-align: left;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
